name: Deploy to GitHub Pages (main)

on:
  push:
    branches: [ source ]   # build when you push/merge to 'source'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy to main branch
        uses: JamesIves/github-pages-deploy-action@v4.4.0
        with:
          branch: main            # target branch
          folder: dist            # folder to push
          token: ${{ secrets.GITHUB_TOKEN }}